/*------------------------------------*\
    ALL
\*------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
body {
    font-family: 'NotoSansTC', sans-serif;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

h1 {
    font-weight: 700;
    font-size: 28px;
}

h2 {
    font-weight: 700;
    font-size: 30px;
}

h3 {
    font-size: 24px;
    font-weight: 700;
}

button {
    font-size: 19px;
    font-weight: 400;
}

content {
    font-size: 16px;
}

a:link {
    text-decoration: none;
}

body {
    cursor: default;
}

a,
button,
input {
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

#login,
#register {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

#to_register,
#to_login,
#loginBar,
#bookingBar,
#logOut {
    cursor: pointer;
}

#loginCard,
#registerCard {
    position: absolute;
    border-radius: 5px;
    border-top: 10px solid transparent;
    background: linear-gradient(white, white)padding-box, linear-gradient(to right, #66AABB, #448899)border-box;
    overflow: hidden;
    top: 220px;
    left: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.loginFrame {
    width: 340px;
    height: 275px;
}

.registerFrame {
    width: 340px;
    height: 332px;
}

.userInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.userInfo h3 {
    line-height: 0;
    color: #666666;
}

#loginTurnOff::after,
#registerTurnOff::after {
    position: absolute;
    right: 17px;
    top: 10px;
    content: ' \2573';
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.userInfo span {
    color: #666666;
}

.userInfoCheck {
    width: 310px;
    height: 47px;
    border-radius: 5px;
    margin: 0 0 15px 15px;
    padding: 15px;
    border: solid lightgray 1px;
}

#loginBtn,
#registerBtn {
    all: unset;
    background-color: #448899;
    border-radius: 5px;
    border: 0;
    color: white;
    text-align: center;
    width: 310px;
    height: 47px;
    margin: 0 0 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

#to_login,
#to_register {
    text-decoration: underline;
}

#loginWarning,
#registerWarning {
    font-size: 14px;
    line-height: 1;
    color: darkred;
}

#logOut {
    display: none;
}


/*------------------------------------*\
HEADER
\*------------------------------------*/

.header {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    justify-content: center;
    width: 100vw;
    max-width: auto;
    background-color: #FFFFFF;
    z-index: 9999;
    height: 54px;
    border-bottom: 1px solid rgb(185, 185, 185);
}

.header-txt {
    display: flex;
    width: 1200px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 54px;
}

.header-txt h2 {
    color: #448899;
}

.header-txt span {
    color: #666666;
}


/*------------------------------------*\
FOOTER
\*------------------------------------*/

footer {
    width: 100%;
    height: 104px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #757575;
    color: white;
}

.noneBookingFooter {
    height: 865px;
    align-items: flex-start;
    padding-top: 45px;
}

@media screen and (max-width: 900px) {
    .header {
        padding: 0 10px;
    }
}

@media screen and (max-width: 600px) {
    .header {
        padding: 0 10px;
    }
    .noneBookingFooter {
        height: 425px;
    }
}