<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <script src="/index.js" defer></script>
    <title>台北一日遊</title>
</head>

<body onload="getData();getCategories()">
    <!--HEADER-->
    <div class="header">
        <div class="header-txt">
            <a href="#">
                <h2>台北一日遊</h2>
            </a>
            <div>
                <a href="#"><span>預定行程</span></a>
                <a href="#"><span>登入/註冊</span></a>
            </div>
        </div>
    </div>

    <!--BANNER-->
    <section class="banner">
        <div>
            <div class="banner-txt">
                <h1>輕鬆享受台北一日悠閒</h1>
                <span>探索每個角落，體驗城市的深度旅遊行程</span>
                <br>
                <form autocomplete="off" onload="addCat()">
                    <div class="indexSearch">
                        <input type="text" placeholder="輸入景點名稱查詢" class="indexSearchBar" id="indexSearchBar">
                        <button class="indexSearchButton"><img src="/images/icon_search.png" alt="" onclick="search()"></button>
                    </div>
                    <div id="searchCategoryKeyword" class="isClose">
                        <div class="searchCategory" id="searchCategory">
                        </div>
                    </div>
                </form>
                <br>
            </div>
    </section>

    <!--INDEX-->
    <!-- insert JavaScript reactions-->
    <div id="index-display-box"></div>
    <div id="errDiv" style="display: none;">
        <span class="errMsg">您所查找的資料不存在</span>
    </div>

    <div class="indexButton">
        <button id="loadMore">Load More...</button>
    </div>

    <!--FOOTER-->
    <div class="footer">
        <span>COPYRIGHT © 台北一日遊</span>
    </div>


</body>

</html>